* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Karla, sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: #495E57;
}
/* themes.css */
/* Light Mode */
.light-theme {
  --bg-color: bg-white;
  --text-color: text-gray-800;
}

/* Dark Mode */
.dark-theme {
  --bg-color: bg-gray-900;
  --text-color: text-white;
}

body {
  @apply bg-white text-gray-800; /* Default styles */
}

@media (prefers-color-scheme: dark) {
  .dark-theme {
    @apply bg-gray-900 text-white;
  }
  body {
    @apply bg-gray-900 text-white;
  }
}
